# pr-v3.cfg
MEMORY {
    LOADADDR: start = $07FF, size = $0002, file = %O;
    
    # Base code segment. Fills unused space up to $0900 with $00
    RAM_0800: start = $0801, size = $0100, file = %O, fill = yes, fillval = $00;
    
    # Appended code segment starting precisely at $0901
    RAM_0900: start = $0901, size = $0100, file = %O;
}

SEGMENTS {
    LOADADDR: load = LOADADDR, type = ro;
    CODE:     load = RAM_0800, type = ro;
    TEXTTAB:  load = RAM_0900, type = ro;
}

