# pr-v2.cfg
MEMORY {
    # Dummy memory area strictly for the 2-byte PRG header ($0376)
    LOADADDR: start = $0374, size = $0002, file = %O;
    
    # The actual Cassette Buffer memory space mapping
    TAPEBUF:  start = $0376, size = $008A, file = %O; 
}

SEGMENTS {
    LOADADDR: load = LOADADDR, type = ro;
    CODE:     load = TAPEBUF,  type = ro;
}

